@model Sales_Purchase1.Models.Payment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaycDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaycDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesPurchase.DocId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PayId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
