@model Sales_Purchase1.Models.ChartofAcc

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration:none">Home</a></li>
    <li class="breadcrumb-item"><a asp-area="" asp-controller="ChartofAcc" asp-action="Index" style="text-decoration:none">Chart of Account</a></li>
    <li class="breadcrumb-item active">Delete</li>
</ol>

<div class="exp1">
<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccType)
        </dd>
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.AccYTD)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.AccYTD)
        </dd>
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.Acclock)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.Acclock)
        </dd>
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.AccUser)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.AccUser)
        </dd>
        <dt class="col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class="col-sm-10" hidden>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AccId" />
           <input type="submit" value="Delete" class="btn btn-danger mb-3" style="width: 200px;" /> 
           <a asp-action="Index" class="btn btn-secondary mb-3" style="width: 200px;">Back to List</a>
    </form>
</div>
</div>

